html {
  font-size: 4vw;
  color: #1c3356;
}

body {
  background-color: #f5ede3;
  font-family: Roboto;
  padding: 10vw;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
}

fieldset,
section {
  background-color: #fdfaf4;
  border: none;
  border-radius: 10vw;
  padding: 7vw;
  display: flex;
  flex-direction: column;
}

legend {
  background-color: #fdfaf4;
  padding: 3vw;
  border-radius: 3vw;
  font-size: 1.5rem;
  font-weight: 700;
}

label {
  margin: 1vw;
  font-weight: 400;
}

input {
  border: none;
  border-radius: 1vw;
  padding: 1vw;
  margin-bottom: 5vw;
}

textarea {
  border: none;
  border-radius: 1vw;
  padding: 1vw;
  margin-bottom: 5vw;
}

button {
  background-color: #1e87fd;
  color: white;
  border: none;
  border-radius: 10vw;
  padding: 4vw;
  margin: auto;
  margin-top: 7vw;
  font-weight: 700;
}

article {
  display: flex;
  flex-direction: column;
  gap: 3vw;
}

section p{
  margin: 1vw;
}

@media screen and (min-width: 500px) {
  html {
    font-size: 2.5vw;
  }

  body {
    max-width: 900;
    padding: 2.5vw;
  }

  fieldset,
  section {
    border-radius: 5vw;
    padding: 3.5vw;
  }

  legend {
    padding: 1.5vw;
    border-radius: 1.5vw;
  }

  label {
    margin: 0.5vw;
  }

  input {
    border-radius: 0.5vw;
    padding: 1vw;
    margin-bottom: 2.5vw;
  }

  textarea {
    border-radius: 0.5vw;
    padding: 0.5vw;
    margin-bottom: 2.5vw;
  }

  button {
    border-radius: 5vw;
    padding: 2vw;
    margin-top: 2.5vw;
  }

  article {
    gap: 3vw;
  }
}
